.box {
  width: 100%;
  height: 100%;
}
.box .loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.box .loading > img {
  width: 80px;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translateX(-50%);
}
