.box {
  width: 290px;
  height: 44px;
  border: 2px solid #B4B4B4;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 14px;
}
.box > input {
  width: 180px;
  height: 100%;
  outline: none;
  padding-left: 6px;
}
.box .left {
  width: 40px;
  height: 100%;
}
.box .left > img {
  width: 100%;
}
.box .right {
  width: 70px;
  height: 100%;
  position: relative;
}
.box .right > img {
  width: 16px;
  position: absolute;
  left: 30px;
  top: 12px;
}
